{% extends 'base.html' %}
{% load static %}
{% block content %}

{{ form.non_field_errors }}
<div class="container edit-profile">
    <h5 class="col-12 pt-3 pl-0">
        Edit Profile
    </h5>
    <div class="container bg-white mt-3">
        <form class="p-4" method="post" enctype="multipart/form-data" action="{% url 'profile_edit' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-row">
                <label>{{ field.label_tag }}</label>
                {{ field }}
            </div>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <div class="submit-row text-right">
                <label>&nbsp;</label>
                <input class="btn btn-primary pl-4 pr-4" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>
{% endblock %} 