<ul class="list-group list-group-flush">
    {% for comment in changelog.comment.all %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-2">
              {% if changelog.member.image %}
                <img height="48px" width="48px" class="rounded-circle mt-auto"
                    src="{{comment.member.image.url }}" />
              {% endif %}
            </div>
            <div class="col-10 container">
                <div class="row">
                  <div class="col-xs-6 ml-auto"><p class="font-weight-bold"> {{comment.member.full_name}} </p></div>
                  <div class="col-xs-6 ml-auto"> <a href="#"><span class="icon-trash grey" style="color:grey"></span> </a> </div>
                </div>
                <div class="text-body shadow-sm p-3 mb-5 bg-white rounded" >{{comment.comment}}</div>
                <p align="center"><small> {{comment.created_on}} </small></p>
            </div>
        </div>
    </li>
    {% endfor %}
    <li class="list-group-item">
        <form method="post" action="{% url 'curriculum_comment_create' c_id=changelog.id %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-xs-6 ml-auto"><input class="form-control input-lg shadow-sm bg-light rounded" type="text" size="28" name="comment" /></div>
              <div class="col-xs-6 ml-auto"><input class="btn btn-primary" type="submit" value="Send"/></div>
            </div>
        </form>
    </li>
</ul>
