<aside class="col-12 p-0 card">
    <div class="border p-3">
        <h6 class="m-0">Suggestions</h6>
    </div>
    <div class="row p-3">
        {% for curriculum, upvote in suggestions %}
            <div class="col-10 mb-3">
                <a class="text-secondary" href="{% url 'curriculum_show' c_id=curriculum.id %}">{{curriculum}}</a>
            </div>
            <div class="col-2 text-right pr-4">
                <a href="{% url 'curriculum_subscription_create' c_id=curriculum.id %}">
                    <i class="far fa-plus-square"></i>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if not suggestions  %}
    <div class="text-center" style="padding-bottom: 1.5rem;">
        <p class="p-3 text-center">There are no suggestions at the moment. Subscribe to subjects of choice to get some!</p>
        <a class="btn btn-primary" style="width: 10rem;" href="{% url 'explore_index' %}">Explore now!</a>
    </div>
    {% endif %}
</aside>