{% if changelog.is_upvoted %}
    <form method="post" class="d-inline mr-2" action="{% url 'feeds_upvote_delete' u_id=changelog.id %}">
    {% csrf_token %}
        <!-- <input class="btn btn-sm btn-outline-danger" type="submit" value="-1"> -->
        <!-- <input type="submit" class="btn btn-sm btn-outline-danger" value="Like"> -->
        <span class="far fa-thumbs-up"></span><span class="m-lr-5">Liked&nbsp;{{ changelog.upvote.all|length }}</span>
        </inpu>
    </form>
    {% else %}
    <form method="post" class="d-inline mr-2" action="{% url 'feeds_upvote_create' u_id=changelog.id %}">
    {% csrf_token %}
        <!-- <span class="badge badge-light d-inline">{{ changelog.upvote.all|length }}</span>  -->
        <!-- <input class="btn btn-sm btn-secondary" type="submit" value="+1"> -->
        <!-- <input type="submit" class="btn btn-sm btn-outline-danger" value="Like"> -->
        <span class="far fa-thumbs-up"></span><span class="m-lr-5">Like&nbsp;{{ changelog.upvote.all|length }}</span>
    </form>
    {% endif %}