{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container pt-4">
    <div class="container">
        <div class="row pt-4">
            <div class="col-4 d-none d-sm-block">
                <div class="row p-4">
                    {% include "./_profile.html" %}
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5>Your Subscriptions</h5>
                    </div>
                </div>
                <div class="container p-0">
                    {% for sub in subscriptions %}
                    <div class="card mt-3 highlight-card">
                        <div class="card-body">
                            <div class="row">
                                {% if sub.subject %}
                                    {% include "./_subject.html" %}
                                {% else %}
                                    {% include "./_curriculum.html" %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}