{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
table, th, td {
  border: 1px solid rgb(71, 70, 70);
  border-collapse: collapse;
}

th, td{
    padding:10px;
}
</style>
<div class="container">

    My Curricula

    <a class="btn btn-primary" href="{% url 'curriculum_create' %}" role="button">Create New Curriculum</a>

    <div class="row w-100">
        <table style="margin-top:20px">
            <caption>Curriculum Made by the user</caption>
            <tr>
                <th>Curriculum ID</th>
                <th>Curriculum Subject</th>
                <th>Curriculum Title</th>
                <th>Curriculum Description</th>
            </tr>
            {% for curriculum in curriculums_created_by_user  %}
            <tr>
                <td>{{curriculum.id}}</td>
                <td><a href="/curriculum/{{curriculum.id}}">{{curriculum.subject}}</a></td>
                <td>{{curriculum.title}}</td>
                <td>{{curriculum.description}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row w-100">
        <table style="margin-top:20px">
            <caption>Curriculum Subscribed by the user</caption>
            <tr>
                <th>Curriculum ID</th>
                <th>Curriculum Subject</th>
                <th>Curriculum Title</th>
                <th>Curriculum Description</th>
            </tr>
            {% for curriculum in non_matching_curriculums_subscribed_by_user  %}
            <tr>
                <td>{{curriculum.id}}</td>
                <td><a href="/curriculum/{{curriculum.id}}">{{curriculum.subject}}</a></td>
                <td>{{curriculum.title}}</td>
                <td>{{curriculum.description}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
