{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container pt-4">
    <div class="container mb-5">
        <div class="row pt-4">
            <div class="col-4 d-none d-sm-block">
                <div class="row p-4">
                    <div class="col-12 card mt-5">
                        <div class="w-100 text-center">
                            {% if member.image %}
                            <img class="w-50 rounded-circle feed-profile-pic" src="{{member.image.url}}">
                        {% else %}
                            <img class="w-50 rounded-circle feed-profile-pic" src="/media/avatar.png">
                        {% endif %}
                        </div>
                        <div class="p-4">
                            <h4>Hi {{member.full_name}},</h4>
                            <p>Welcome to your Curriculum listing page. Here you can see the list of curriculums you have created and also the ones you are subscribed to.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row mb-4">
                    <div class="col-6">
                        <h5>My Curricula</h5>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary btn-sm pl-md-4 pr-md-4" href="{% url 'curriculum_create' %}" role="button">Create Curriculum</a>
                    </div>
                </div>
                {% if curriculums_created_by_user %}
                <div class="row col-12 mt-4">
                    <h6>{{member.full_name}} created Curricula</h6>
                </div>
                {% endif %}
                <div class="container p-0">
                    {% for c in curriculums_created_by_user %}
                    <div class="card mt-3">
                        <div class="card-body highlight-card">
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'curriculum_show' c_id=c.id %}">
                                    <h6>{{c.title}}</h6>
                                    <p class="text-secondary mb-0">Subject: {{c.subject}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if non_matching_curriculums_subscribed_by_user %}
                <div class="row col-12 mt-4">
                    <h6>{{member.full_name}} subscribed Curricula</h6>
                </div>
                {% endif %}
                <div class="container p-0">
                    {% for c in non_matching_curriculums_subscribed_by_user %}
                    <div class="card mt-3">
                        <div class="card-body highlight-card">
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'curriculum_show' c_id=c.id %}">
                                    <h6>{{c.title}}</h6>
                                    <p class="text-secondary mb-0">Subject: {{c.subject}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
