{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container pt-4">
    <div class="container">

      <!-- TITLE -->
        <div class="row">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h3>{{curriculum.title}}</h3>
                </div>
            </div>
        </div>

        <!-- INFO CARD -->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="card w-100">
                        <div class="card-body p-4 mt-2">
                          <!-- TITLE INFO CARD -->
                            <div class="card-subtitle">
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="text-muted text-">This curriculum is part of the subject {{curriculum.subject}}</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        {% if curriculum.posted_by == current_user %}
                                        <a href="{% url 'curriculum_update' c_id=curriculum.id %}"
                                            class="btn btn-primary pl-4 pr-4 far fa-edit"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Curriculum Description -->
                            <p class="card-text">{{curriculum.description}}</p>
                            <div class="row">
                                <div class="col-8 align-self-center">
                                    {% if curriculum.is_upvoted %}
                                    <a class="d-inline mr-2 text-danger" href="{% url 'curriculum_upvote_delete' c_id=curriculum.id %}">
                                        <span class="far fa-thumbs-up"></span><span class="m-lr-5">Liked&nbsp;{{ curriculum.upvote.all|length }}</span>
                                    </a>
                                    {% else %}
                                    <a class="d-inline mr-2 text-secondary" href="{% url 'curriculum_upvote_create' c_id=curriculum.id %}">
                                        <span class="far fa-thumbs-up"></span><span class="m-lr-5">Like&nbsp;{{ curriculum.upvote.all|length }}</span>
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="col-4 text-right">
                                  <!-- SUBSCRIBE BUTTON-->
                                  {% if user_subscription %}
                                  <form class="form-inline d-inline" method="post"
                                      action="{% url 'subscription_delete' sid=user_subscription.id %}">
                                      {% csrf_token %}
                                      <button class="btn btn-sm btn-outline-primary" type="submit">Unsubscribe</button>
                                  </form>
                                  {% else %}
                                  <form class="form-inline d-inline" method="post"
                                      action="{% url 'curriculum_subscription_create' c_id=curriculum.id %}">
                                      {% csrf_token %}
                                      <button class="btn btn-sm btn-outline-primary" type="submit">Subscribe</button>
                                  </form>
                                  {% endif %}
                                  <!-- TEACH BUTTON -->
                                  <form class="form-inline d-inline" method="post">
                                      {% csrf_token %}
                                      <button class="btn btn-sm btn-outline-primary" name="_teach"
                                          type="submit">{{teach_button_status}}</button>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8"> <!-- Discussion & Bits column -->
              <div class="row"> <!-- BITS -->
                <div class="col pl-0 pr-3 pt-4">
                    <div class="row">
                        <div class="col-8 pl-10">
                            <h5 class="d-inline">Bits of Content</h5>
                        </div>
                        <div class="col-4 text-right pr-4">
                            <a href="{% url 'create_bit' c_id=curriculum.id %}" class="fas fa-plus"></a>
                        </div>
                    </div>
                    {% if not curriculum.bit.all  %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>This curriculum is currently empty.</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="accordion pl-20" id="accordionExample">
                        {% for bit in curriculum.bit.all %}
                        {% include "./show/_bit.html" %}
                        {% endfor %}
                    </div>
                </div>
              </div>
              <!-- Discussion -->
              <div class="row">
                <div class="col-12 p-3 pr-4">
                    <div class="row">
                        <div class="col-12 pl-2">
                            <h5 >Discussion</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card card-body p-0 pl-4">
                            
                            {% for comment in curriculum.comment.all %}
                            <div class="row pt-4">
                                <div class="col-2 col-sm-1 text-center p-0">
                                    <a href="{% url 'profile_view' uname=comment.member.username %}">
                                    {% if comment.member.image.url != '' %}
                                    <img height="50px" width="50px" class="rounded-circle mt-auto"
                                        src="{{comment.member.image.url }}" />
                                    {% else %}
                                    <img height="50px" width="50px" class="rounded-circle mt-auto"
                                        src="media/avatar.png" />
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="col-10 col-sm-11">
                                    <a href="{% url 'profile_view' uname=comment.member.username %}">
                                    {% if comment.member.full_name != '' %}
                                    <div class="profile-feed-title">{{comment.member.full_name}}</div>
                                    {% elif comment.member.username != '' %}
                                    <div class="profile-feed-title">{{comment.member.username}}</div>
                                    {% else %}
                                    <div class="profile-feed-title">(NA)</div>
                                    {% endif %}
                                    </a>
                                    <div class="profile-feed-time">
                                        <span class="far fa-clock"></span>
                                        <span>{{comment.created_on}}</span>
                                    </div>
                                    <div class="text-black">
                                        {{comment.comment}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row p-3">
                                <div class="col-1 p-0">
                                    <a href="{% url 'profile_view' uname=current_user.username %}">
                                        {% if member.image.url != '' %}
                                        <img height="50px" width="50px" class="rounded-circle mt-auto"
                                            src="{{current_user.image.url }}" />
                                        {% else %}
                                        <img height="50px" width="50px" class="rounded-circle mt-auto"
                                            src="media/avatar.png" />
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-11">
                                    <form method="post" action="{% url 'curriculum_comment_create' c_id=curriculum.id %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-10 ml-auto"><input class="form-control input-lg shadow-sm bg-light rounded w-100" type="text" size="28" name="comment" /></div>
                                            <div class="col-2 align-self-center p-2"><input class="btn btn-primary btn-sm" type="submit" value="Comment"/></div>
                                        </div>
                                    </form>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col"> <!-- subscribers, contributers column -->
              <div class="row"> <!-- Institution Teaching Block -->
                <div class="col pt-4 pl-sm-4">
                    <div class="row">
                        <div class="col-12">
                            <h5>Institutions Teaching this Curriculum</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card card-body">
                            {% if institutions_teaching %}
                                <ul class="list-group list-group-flush">
                                        {% for Institution in institutions_teaching %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-10">
                                                {{Institution}}
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else%}
                                <b>No Institution is teaching this curriculum as of now.
                                   If you like the curriculum, press teach to acknowledge you are
                                   teaching this curriculum at your institution. </b>
                            {% endif %}
                        </div>
                    </div>
                </div>
              </div>
              <div class="row"> <!-- Subscribed User Block -->
                <div class="col pt-4 pl-sm-4">
                    <div class="row">
                        <div class="col-12">
                            <h5>Subscribers</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card card-body">
                            {% if subscribed_users %}
                                <ul class="list-group list-group-flush">
                                        {% for user in subscribed_users %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-10">
                                                {% if user.image %}
                                                    <img width=35px src="{{user.image.url}}">
                                                {% else %}
                                                    <img width=35px src="/media/avatar.png">
                                                {% endif %}

                                                <a class="ml-3" href="{% url 'profile_view' uname=user.u_id %}"> {{user.full_name}}</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else%}
                            <b>No users are subscribed to this curriculum as of now.
                               Press subscribe button to follow all updates related
                               to this curriculum. </b>
                            {% endif %}
                        </div>
                    </div>
                </div>
              </div>
              <!-- Contributors Block -->
              <div class ="row">
                <div class="col pt-4 pl-sm-4">
                    <div class="row">
                        <div class="col-12">
                            <h5>Contributors</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card card-body">
                            {% if contributors %}
                                <ul class="list-group list-group-flush">
                                    {% for contributor in contributors %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-10">
                                                {% if contributor.image %}
                                                    <img width=35px src="{{contributor.image.url}}">
                                                {% else %}
                                                    <img width=35px src="/media/avatar.png">
                                                {% endif %}

                                                <a href="{% url 'profile_view' uname=contributor.u_id %}"> {{contributor.full_name}}</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else%}
                            <b>At the moment there are no contributors for this curriculum.
                               Become one by adding bits to the curriculum or engaging in
                               conversations :) </b>
                            {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    //  subject filter scripts based on field and topic
</script>
{% endblock %}
