{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container pt-4">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <h2>Edit Curriculum</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {{ form.non_field_errors }}
                        <div class="card w-100">
                            <form method="post" action="{% url 'curriculum_update' c_id=curriculum.id %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="card-subtitle">
                                    Field:
                                    <select name="fields" onChange="JSFunctiontoupdateTopics()">
                                        {% for f in fields %}
                                        <option value="{{f.id}}">
                                            {{f.title}}
                                        </option>
                                        {% endfor %}
                                    </select>

                                    Topic:
                                    <select name="topics">
                                        {% for t in topics %}
                                        <option value="{{t.id}}">
                                            {{t.title}}
                                        </option>
                                        {% endfor %}
                                    </select>

                                    Subject:
                                    <select name="subjects">
                                        {% for s in subjects %}
                                        <option value="{{s.id}}">
                                            {{s.title}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="card-text">
                                    {% for field in form %}
                                    <div class="form-row">
                                        <label>{{ field.label_tag }}</label>
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="row pt-4">
                                    <div class="col-12 text-right">
                                        <input class="btn btn-primary" type="submit" value="{{type}} Curriculum" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //  subject filter scripts based on field and topic
</script>
{% endblock %}