{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container pt-4">
    <div class="row">
        <div class="col-9">
            <h5>{{bit.title}}</h5>
        </div>
        <div class="col-3 text-right">
            {% if owner %}
            <a class="btn btn-primary pl-4 pr-4" href="{% url 'bit_update' c_id=bit.curriculum.id b_id=bit.id %}"><i class="far fa-edit"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {% if bit.description %}
            <div class="row col-12 mt-4">
                <h6>Description</h6>
            </div>
            <div class="card container p-4">
                {{bit.description}}
            </div>
            {% endif %}
            {% if bit.text %}
            <div class="row col-12 mt-4">
                <h6>Text Content</h6>
            </div>
            <div class="card container p-4">
                {{bit.text}}
            </div>
            {% endif %}
            {% if bit.file %}
            <div class="row col-12 mt-4">
                <h6>File</h6>
            </div>
            <div class="card container p-4">
                <div class="row">
                    <div class="col-9 align-self-center">
                        {{bit.file}}
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary pl-4 pr-4" href="{{bit.file.url}}" download="{{bit.file}}">Download</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row col-12 mt-4">
                <h6>Discussion</h6>
            </div>
            <div class="card container pl-5 mb-5">
                {% for comment in bit.comment.all %}
                <div class="row pt-4">
                    <div class="col-2 col-sm-1 text-center p-0">
                        <a href="{% url 'profile_view' uname=comment.member.username %}">
                        {% if comment.member.image.url != '' %}
                        <img height="50px" width="50px" class="rounded-circle mt-auto"
                            src="{{comment.member.image.url }}" />
                        {% else %}
                        <img height="50px" width="50px" class="rounded-circle mt-auto"
                            src="media/avatar.png" />
                        {% endif %}
                        </a>
                    </div>
                    <div class="col-10 col-sm-11">
                        <a href="{% url 'profile_view' uname=comment.member.username %}">
                        {% if comment.member.full_name != '' %}
                        <div class="profile-feed-title">{{comment.member.full_name}}</div>
                        {% elif comment.member.username != '' %}
                        <div class="profile-feed-title">{{comment.member.username}}</div>
                        {% else %}
                        <div class="profile-feed-title">(NA)</div>
                        {% endif %}
                        </a>
                        <div class="profile-feed-time">
                            <span class="far fa-clock"></span>
                            <span>{{comment.created_on}}</span>
                        </div>
                        <div class="text-black">
                            {{comment.comment}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="row pt-4">
                    <form method="post" action="{% url 'bit_comment_create' c_id=curriculum.id b_id=bit.id %}">
                        {% csrf_token %}
                        <input type="text" name="comment" />
                        <input type="submit" value="Comment">
                    </form>
                </div> -->
                <div class="row p-3">
                    <div class="col-1 p-0">
                        <a href="{% url 'profile_view' uname=member.username %}">
                            {% if member.image.url != '' %}
                            <img height="50px" width="50px" class="rounded-circle mt-auto"
                                src="{{member.image.url }}" />
                            {% else %}
                            <img height="50px" width="50px" class="rounded-circle mt-auto"
                                src="media/avatar.png" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-11">
                        <form method="post" action="{% url 'bit_comment_create' c_id=curriculum.id b_id=bit.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-10 ml-auto"><input class="form-control input-lg shadow-sm bg-light rounded w-100" type="text" size="28" name="comment" /></div>
                                <div class="col-2 align-self-center p-2"><input class="btn btn-primary btn-sm" type="submit" value="Comment"/></div>
                            </div>
                        </form>                                    
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="col-4">
            <div class="row col-12 mt-4">
                <h6>Other Information</h6>
            </div>
            <div class="card container p-4">
                <div class="row">
                    <div class="col-6 h6 pl-4 pt-1">
                        Created by:
                    </div>
                    <div class="col-6 p-0">
                        <a href="{% url 'profile_view' uname=bit.created_by %}">
                            {{bit.created_by.full_name}}
                        </a>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 h6 pl-4 pt-1">
                        Created On:
                    </div>
                    <div class="col-6 p-0">
                            {{bit.created_on}}
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 h6 pl-4 pt-1">
                        Last Modified:
                    </div>
                    <div class="col-6 p-0">
                            {{bit.last_modified}}
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 h6 pl-4 pt-1">
                        Field:
                    </div>
                    <div class="col-6 p-0">
                            {{bit.curriculum.subject.topic.field}}
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 h6 pl-4 pt-1">
                        Topic:
                    </div>
                    <div class="col-6 p-0">
                            {{bit.curriculum.subject.topic}}
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 h6 pl-4 pt-1">
                        Subject:
                    </div>
                    <div class="col-6 p-0">
                        <a href="{% url 'subjects' sid=bit.curriculum.subject.id %}">
                            {{bit.curriculum.subject}}
                        </a>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 h6 pl-4 pt-1">
                        Curriculum:
                    </div>
                    <div class="col-6 p-0">
                        <a href="{% url 'curriculum_show' c_id=bit.curriculum.id %}">
                            {{bit.curriculum}}
                        </a>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 h6 pl-4 pt-1">
                        Type:
                    </div>
                    <div class="col-6 p-0">
                            {{bit.bit_type}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}