{% extends 'base.html' %}
{% load static %}
 {% block content %}
    <div class="site-blocks-cover" id="home-section">
      <div class="img-wrap">
          <div class="slide overlay">
            <img src="{% static 'images/Books.jpg' %}" alt="Image" class="img-fluid">
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 align-self-center">
            <div class="intro">
              <div class="heading">
                <h1>Education Made Easy</h1>
              </div>
              <div class="text">
                <p class="sub-text mb-30">A Social Platform to Design and Maintain Curricula with Ease</p>
                <p>
                  <a href="/accounts/login/" class="btn btn-primary btn-clear btn-md active">Login</a>
                  <a href="/signup/" class="btn btn-primary btn-clear btn-md">Sign up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-blocks-cover -->



    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mb-10 section-title">
            <span class="sub-title2 mb-2 d-block">About Us</span>
            <h2 class="title mb-4">Our mission is to connect educators worldwide to improve education</h2>
            <p class="para mb-2">Globally, there are so many similar curricula and courses. To give an example, most universities offer a Computer Science degree and the courses offered within a degree (such as Databases, Distributed Systems, Programming) are also very similar!</p>
            <p class="para mb-8">Unfortunately, the quality of the course content differs a lot. This creates unequal opportunities for students, as graduating in the same degree does not guarantee similar skills. For professors and education staff, updating the course material to the most recent findings is very time-consuming. Especially in the rapidly changing environment that we find ourselves in today. And to top all of this, there is no convenient peer-reviewing channel that enables educators to provide feedback on each other's course material. All these social issues combined, made us come up with <code>EduCollab.</code> </p>
          </div>
          <div class="col-lg-7" style="padding-left:1rem;">
            <img src="{% static 'images/educollab.png' %}" alt="Image" class="img-fluid" class="img-fluid">
          </div>
          <div class="section-title">
            <p class="col-lg-12 para mb-4">This is a social platform that enables educators from all over the world to work together in designing and maintaining curricula with ease. The platform enables a network in which educators can review each other's work and provide feedback. The collaboratively constructed curricula can be followed around the world which empowers students and improves global education standards. And also interesting, educators participating in our platform are guaranteed to save time! This time can then be spent on the important tasks, such as research and guiding students. </p>
          </div>
        </div>
      </div>
    </div> <!-- .END site-section -->

    <div class="site-section bg-light" id="what-we-do-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6 section-title">
            <span class="sub-title2 mb-2 d-block">About Us</span>
            <h2 class="title text-primary">Features & Values</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 ml-auto">
            <div class="row">
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-edit display-4 text-primary d-block mb-4"></span>
                  <h3>Content</h3>
                  <p>Once you are logged on, you can start discovering curricula. These curriucula consist on course content such as slides, literature lists, assignments and much more. The content is structured in "Bits", this provides much freedom to structure the curricula in innovative ways.</p>
                  <!-- <p><a href="#" class="readmore">Learn more</a></p> -->
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-comments display-4 text-primary d-block mb-4"></span>
                  <h3>Communication</h3>
                  <p>At a university, there is often one expert on a certain field. That is why it is extremely hard for professors to receive feedback on their curricula. What would happen if you somehow connect these experts? Exactly! They can start discuss and review each other's work which leads to higher quality education.</p>
                  <!-- <p><a href="#" class="readmore">Learn more</a></p> -->
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-group display-4 text-primary d-block mb-4"></span>
                  <h3>Collaboration</h3>
                  <p>The main advantage of our platform is that it enables educators to work together in constructing and maintaining curricula. Think of it as an open source platform in which each educator can contribute by adding building blocks. Multiple curricula can be added and followed by educators. The curricula that are followed most frequently will appear in the discovery feeds.</p>
                  <!-- <p><a href="#" class="readmore">Learn more</a></p> -->
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-photo display-4 text-primary d-block mb-4"></span>
                  <h3>Intellectual Property</h3>
                  <p>We understand your worries regarding uploading the material you have put so much effort in. That is why we respect the Berne Convention for the Protection of Literary and Artistic Works of the United Nations. This means that you are the one deciding under which license you upload your material. If you are happy that others re-use your material, but you want some recognizion by being properly referenced? That's possible! Or you rather don't have others copy your work, but you do want to upload it as a source of inspiration and receive feedback on it? Guess what? Also possible! </p>
                  <!-- <p><a href="#" class="readmore">Learn more</a></p> -->
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-eye display-4 text-primary d-block mb-4"></span>
                  <h3>Privacy</h3>
                  <p>We take your privacy very seriously. That is why we follow the World Wide Web Consortium (W3C) privacy guidelines. We don't collect any data other than the strict necessity and personal data will not be directly accessible by the developers. Moreover, personal data will never be distributed to third-parties.</p>
                  <!-- <p><a href="#" class="readmore">Learn more</a></p> -->
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-lock display-4 text-primary d-block mb-4"></span>
                  <h3>Security</h3>
                  <p>Privacy can only be ensured if the platform is secure. For this and many other reasons, we took several security measures. The platform is developed using Django. This framework offers many built-in security features such as Password Hashing, Cross Site Scripting (XSS) and Cross Site Request Forgery (CSRF) protection.</p>
                  <!-- <p><a href="#" class="readmore">Learn more</a></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-section -->

    <footer class="site-footer">
      <div class="container" id="group-footer">

        <div class="row">

          <div class="col-lg-9 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-9">
                <h3 class="footer-heading mb-4">Project Details</h3>
                <p>This project is designed and implemented by Group 16 of as part of The Social Web course.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 ml-auto">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Group Members</h3>
              </div>
              <div class="col-md-12">
                <ul class="list-unstyled">
                  <li>Abijith Radhakrishnan</li>
                  <li>Leonard Herold</li>
                  <li>Shivam Kapoor</li>
                  <li>Senai Germazion</li>
                  <li>Sophie Vos</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="row text-center">
          <div class="col-md-12">
          <p> Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
          </div>
        </div>

      </div>
    </footer>
{% endblock %}
