{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load get_dict_value %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Explore</h2>
        </div>
    </div>
    <div class="row">
        {% if user_subscription %}
        <form class="form-inline d-inline" method="post"
            action="{% url 'subscription_delete' sid=user_subscription.id %}">
            {% csrf_token %}
            <button class="btn btn-sm btn-outline-dark" type="submit">Unsubscribe</button>
        </form>
        {% else %}
        <form class="form-inline d-inline" method="post"
            action="{% url 'subject_subscription_create' sid=subject.id %}">
            {% csrf_token %}
            <button class="btn btn-sm btn-outline-dark" type="submit">Subscribe</button>
        </form>
        {% endif %}
    </div>

    <!-- Shittiest HTML ever ahead -->
    Show Subject details Here!
    <ul>
        <li><b>Subject ID: </b>{{subject.id}}</li>
        <li><b>Subject Topic: </b>{{subject.topic}}</li>
        <li><b>Subject Title: </b> {{subject.title}}</li>
    </ul>
    <div class="row w-100">
        <ul class="list-group list-group-flush w-100 d-block">
            <li class="list-group-item"><b>Upvote count</b>&ensp;&ensp;&ensp;
                                        <b>Curriculum name</b>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                        <b>Contributor count</b>
            </li>
            {% for curriculum, upvote_count in sorted_curriculums%}
            <li class="list-group-item">
                <a href="{% url 'curriculum_show' c_id=curriculum.id %}">
                    {{upvote_count}}&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                    {{curriculum}}  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                    {{contributors|get_item:curriculum}}                    
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}